%div{:data => {:role => 'header'}}
  %h1
    AtB!
%div{:data => {:role => 'content'}}
  %div{:data => {:role => 'collapsible'}}
    %h2
      Welcome to AtB!
    :markdown
      Annotate The Bastards! is a mobile web app that works as an 
      alternate interface to display the detailed annotations for
      the novels of William Gaddis that can be found on [williamgaddis.org][wg].

      [wg]: http://williamgaddis.org
  %div{:data => {:role => 'collapsible', :collapsed => 'true'}}
    %h2 
      Books
    - @books.each do |book|
      %a{:href => "#{book_path(book)}", :data => {:role => 'button', :icon => 'star'}}
        "#{book}"
  %div{:data => {:role => 'collapsible', :collapsed => 'true'}}
    %h2
      Colophon
    :markdown
      While reading *JR* I found it difficult to use the annotations on [williamgaddis.org][wg]
      on anything other than a full computer with monitor, and that's just not ideal.  So, I 
      pulled together this mobile web app so that I could use my iPhone to read along with the novel.  

      Built by [Nicholas Fine][nf] with [Ruby on Rails][rr] and [Jquery Mobile][jq] and hosted on [Heroku][h].
      
      [wg]: http://williamgaddis.org
      [rr]: http://rubyonrails.org
      [jq]: http://jquerymobile.com
      [h]:  http://heroku.com
      [nf]: http://ndfine.com


