%div{:data => {:role => 'header'}}
  %h1
    AtB!
%div{:data => {:role => 'content'}}
  %div{:data => {:role => 'collapsible'}}
    %h2
      Welcome to AtB!
    :markdown
      Annotate The [Bastards!][fb] is a mobile web app that works as an 
      alternate interface to display the detailed annotations for
      the novels of [William][nv] [Gaddis][wp] that can be found on [williamgaddis.org][wg].

      [wg]: http://williamgaddis.org
      [fb]: http://en.wikipedia.org/wiki/Fire_the_Bastards!
      [wp]: http://en.wikipedia.org/wiki/William_Gaddis
      [nv]: http://www.amazon.com/gp/redirect.html?ie=UTF8&location=http%3A%2F%2Fwww.amazon.com%2Fs%3Fie%3DUTF8%26x%3D0%26ref_%3Dnb_sb_noss%26y%3D0%26field-keywords%3DWilliam%2520Gaddis%26url%3Dsearch-alias%253Dstripbooks%23&tag=ndfinecom-20&linkCode=ur2&camp=1789&creative=390957

  %div{:data => {:role => 'collapsible', :collapsed => 'true'}}
    %h2 
      Books
    - @books.each do |book|
      %a{:href => "#{book_path(book)}", :data => {:role => 'button', :icon => 'star'}}
        #{book}
  %div{:data => {:role => 'collapsible', :collapsed => 'true'}}
    %h2
      Colophon
    :markdown
      While reading [JR][jr] I found it difficult to use the annotations on [williamgaddis.org][wg]
      on anything other than a full computer with monitor, and that's just not ideal.  So, I 
      pulled together this mobile web app so that I could use my iPhone to read along with the novel.  

      Built by [Nicholas Fine][nf] with [Ruby on Rails][rr] and [jQuery Mobile][jq] and hosted on [Heroku][h].
      
      [wg]: http://williamgaddis.org
      [rr]: http://rubyonrails.org
      [jq]: http://jquerymobile.com
      [h]:  http://heroku.com
      [nf]: http://ndfine.com
      [jr]: http://www.amazon.com/gp/product/1843541653/ref=as_li_ss_tl?ie=UTF8&tag=ndfinecom-20&linkCode=as2&camp=217145&creative=399373&creativeASIN=1843541653


