%div{:data => {:role => 'header'}}
  %h1
    Annotate The Bastards!
%div{:data => {:role => 'content'}}
  %ul{:data => {:role => 'listview'}}
    - @books.each do |book|
      %li= link_to book, book_annotations_path(book)

