%div{:data => {:role => 'header'}}
  %h1= link_to 'Annotate The Bastards!', root_path
%div{:data => {:role => 'content'}}
  %ul{:data => {:role => 'listview'}}
    - @books.each do |book|
      %li= link_to book, book_annotations_path(book)

