%div{:data => {:role => 'header'}}
  %h1= "Annotations for #{@book}"
  %a{:href => "#{book_path(@book)}", :data => {:role => 'button', :icon => 'back'}}
    Back
%div{:data => {:role => 'content'}}
  %ul{:data => {:role => 'listview'}}
    - @annotations.each do |annotation|
      %li= page_link @book.slug, annotation.page_number
