%div{:data => {:role => 'header'}}
  %h1= "Annotations for #{@book}"
%div{:data => {:role => 'content'}}
  %ul{:data => {:role => 'listview'}}
    - @annotations.each do |annotation|
      %li= page_link @book.slug, annotation.page_number
