<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Strict//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd'>
<head>
  <meta content='text/html; charset=utf-8' http-equiv='content-type' />
  <meta name='author' content='Nicholas Fine' />
  <link href='http://fonts.googleapis.com/css?family=Bentham' rel='stylesheet' type='text/css'>
  <link href='/stylesheets/screen.css' media='screen, projection, print' rel='stylesheet' type='text/css' />
  <!--[if lt IE 8]>
  <link href='/stylesheets/ie.css' media='screen, projection' rel='stylesheet' type='text/css' />
  <![endif]-->
  <title>{{ page.title }}</title>
</head>
<body>
  <div id='container'>
    <div id='header'>
      <h1>Annotate The Bastards!</h1>
      <p class='tldr'>A mobile web interface for the annotations to the works of William Gaddis as found on <a href='http://williamgaddis.org'>williamgaddis.org</a></p>
    </div>
    <div id='content'>
      {{ content }}
    </div>
    <div id='footer'>
      <p class='tldr'>Coming Soon!</p>
    </div>
  </div>
</body>
