!!!
%html
  %head
    %title Annotate The Bastards!
    %link{:href => "http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.css", :rel => "stylesheet"}/
    %script{:src => "http://code.jquery.com/jquery-1.6.1.min.js"}
    %script{:src => "http://code.jquery.com/mobile/1.0b1/jquery.mobile-1.0b1.min.js"}
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    = csrf_meta_tag
  %body
    %div{:data => {:role => 'page'}}
      = yield
